{% extends "layout.html" %}

{% block head %}
  <script>
    window.selectedSeries = {{titles|tojson|safe}};
  </script>

  <script src="{{ url_for('static', filename='js/list_view.js') }}"></script>
  <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/placeholders.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="panel" ng-controller="editCtrl">
    {% include "_header.html" %}

    <p>Welcome back, <strong>{{email}}</strong>!</p>

    <h3>Change Your Subscriptions</h3>

    <div comics-list></div>

    <button id="edit-submit" class="btn" ng-click="submit()">Save Changes</button>

    <div id="edit-alert-container">
    </div>

  </div>
{% endblock %}

