{% extends "layout.html" %}

{% block head %}
  <script>
    window.selectedSeries = {{titles|tojson|safe}};
  </script>

  <script src="{{ url_for('static', filename='js/alert.js') }}"></script>
  <script src="{{ url_for('static', filename='js/list_view.js') }}"></script>
  <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/placeholders.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="panel" ng-controller="editCtrl">
    {% include "_header.html" %}

    <p>Welcome back, <strong>{{email}}</strong>!</p>

    <h3>Change Your Subscriptions</h3>

    <div comics-list="selectedComics"></div>

    <p><button id="edit-submit" class="btn" ng-click="submit()">Save Changes</button></p>

    <alert alert-object="alert"></alert>
  </div>
{% endblock %}

