{% extends "layout.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='js/list_view.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/placeholders.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="panel">
    {% include "_header.html" %}

    <p>Comics are annoying to keep up with. There's new issues every week, and while it's nice if you remember to check the release list every week, you can still easily miss titles that you care about.</p>
    <p>This app emails you whenever series you follow have new releases. Like your own personal JARVIS, except without the accent. Or any of the cool stuff. But at least there's emails!</p>
  </div>
  
  <div class="panel">

    <h3>Step One: Add some titles.</h3>
    <form id="search-form">
      <div class="form-container input-append search-container">
        <button type="submit" id="search-submit" class="btn">Add Series</button>
        <div class="stretcher">
          <input type="text" id="search" placeholder="Detective Comics">
        </div>
      </div>
    </form>

    <div id="search-alert-container">
    </div>

    <table id="series-table" class="table table-striped table-bordered">
    </table>

    <h3>Step Two: Subscribe.</h3>

    <form id="email-form">
      <div class="form-container input-append">
        <button type="submit" id="email-submit" class="btn">Subscribe</button>
        <div class="stretcher">
          <input type="email" id="email" placeholder="bruce@wayneenterprises.com">
        </div>
      </div>
    </form>

    <div id="subscribe-alert-container">
    </div>

    <h3>Step Three: There is no step three.</h3>

    <p>You'll get an email every day that comics you have subscribed to are released. This usually means one email every Wednesday. If you'd like to change your subscriptions or unsubscribe, just click the link at the bottom of your email.<p>
  </div>

  <div class="panel">
    <h3>The Byline</h3>
    <p>Made by <a href="http://thomasboyt.com">Thomas Boyt</a>.</p>
    <p>Relies on the feeds provided by Charles LePage at <a href="http://www.comiclist.com/index.php">ComicList</a>, which are licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License.</a></p>
  </div>
{% endblock %}
