<!DOCTYPE html>
<html ng-app="whampow">
  <head>
    <title>Comics Notifier</title>

    {% if config['DEBUG'] %}
    <script src="/static/components/jquery/jquery.min.js"></script>
    <script src="/static/components/typeahead.js/dist/typeahead.js"></script>
    <script src="/static/components/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/components/angular/angular.js"></script>

    <link href="{{ url_for('static', filename='tmp/styles.css') }}" rel="stylesheet" />
    {% else %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
    {% endif %}

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

    {% block head %}
    {% endblock %}

    <script src="{{url_for('static', filename='tmp/templates.js')}}"></script>
  </head>
  <body>
    <div class="narrow-container">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>

